/*      
    copyright @hazl March 2025
    use this snippet to turn tables into grid/cards
    
    <table class="grid"/>

*/


:root {
    --grid-roundness: 10px;
    --grid-padding: 5px;
    --grid-margins: 0px;
    --grid-min-width: 250px;
    --grid-image-aspect-ratio: auto;
}

/* table  */
table.grid tbody {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
    grid-column-gap: var(--grid-margins);
    grid-row-gap: var(--grid-margins);

}


/* table rows */
table.grid>tbody>tr {
    display: flex;
    flex-direction: column;
    margin: var(--grid-margins);
    padding: var(--grid-padding);
    border-radius: var(--grid-roundness);
    overflow: hidden;
}

table.grid>tbody>tr:hover {
    background-color: color-mix(in srgb, var(--color-text) 10%, transparent);
}

table.grid>tbody img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: var(--grid-image-aspect-ratio);
}
table.grid>tbody>tr>td {
    padding: var(--grid-padding);
}

/* everything after the second title */
table.grid>tbody>tr>td:not(:first-child):not(:nth-child(2)) {
    font-size: 0.75em;
    opacity: 0.4;
}

/* helper classes */
.grid-images-portrait
{
    --grid-image-aspect-ratio: 1/2;
}
.grid-images-square
{
    --grid-image-aspect-ratio: 1/1;
}
.grid-images-landscape
{
    --grid-image-aspect-ratio: 16/9;
}