/* ![small](image.jpg)  */
/* use alt text as css classes */
/* useful for images */



img[alt *='small' i] {
    height: auto;
    width: 200px;
}

img[alt *='center' i] {
    margin-left: 25%;
    margin-right: 25%;
}
.cover,
[alt *='cover' i] {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

[alt *='square' i] {
    object-fit: cover;
    /* height: 150px;
    width: 150px; */
    aspect-ratio: 1/1;
}

[alt *='bottom' i] {
    object-position: bottom;
}