/* imports */
@import url('./utils/cleanup.css');
@import url('./html/links.css');
@import url('./html/scrollbars.css');
@import url('./html/buttons.css');
@import url('./html/headings.css');
@import url('./html/img.css');
@import url('./html/input.css');
@import url('./html/lists.css');
@import url('./html/text-selection.css');
@import url('./utils/icons.css');
@import url('./snippets/grids.css');
@import url('./themes/system.css');

html, body
{
    scroll-behavior: smooth;
}

body 
{
    font-family:        var(--font-family);
    background-color:   var(--color-background);
    color:              var(--color-text);
    line-height:        var(--line-height);
}
