button,
label 
{

    background-color: transparent;
    border: 0px;
    border-radius: 25%;

}

button:hover,
label:hover 
{
    background-color: color-mix(in srgb, var(--color-text) 15%, transparent);
}
button:focus,
label:focus
{
    outline: 3px solid color-mix(in srgb, var(--color-accent) 55%, transparent);
    border-radius: 5px;
    outline-offset: 3px;
}
button, label 
{
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    color: var(--color-text);
    background: var(--color-accent-muted);
    background: transparent;

}