a {
    color: var(--color-accent);
}
a::after {
    content: " ";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 0.3em;
    background-color: var(--color-text);
    -webkit-mask-size: contain;
    vertical-align: middle;
    opacity: 0.4;
    /* font-size: 0.8em; */
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: var(--icon-link);
}